<.form :let={f} for={@changeset} action={@action} class="space-y-6">
  <div>
    <label for="name" class="block text-sm font-medium leading-6 text-gray-900">
      Team Name
    </label>
    <div class="mt-2">
      <%= Phoenix.HTML.Form.text_input f, :name, required: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
      <%= if error = f.errors[:name] do %>
        <p class="mt-2 text-sm text-red-600"><%= elem(error, 0) %></p>
      <% end %>
    </div>
  </div>

  <div class="flex items-center justify-end gap-4">
    <.link
      href={~p"/groups/#{@changeset.data.group_id}"}
      class="rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
    >
      Cancel
    </.link>
    <button
      type="submit"
      class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
    >
      Save Team
    </button>
  </div>
</.form>