<.header>
  New Group
  <:subtitle>Create a new group to manage teams and accounts.</:subtitle>
</.header>

<.group_form changeset={@changeset} action={~p"/groups"} />

<.back navigate={~p"/groups"}>Back to groups</.back>